# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
ContributorsCheck/contributors-check/.classpath
ContributorsCheck/contributors-check/.settings/org.eclipse.core.resources.prefs
ContributorsCheck/contributors-check/.settings/org.eclipse.jdt.core.prefs
ContributorsCheck/contributors-check/.settings/org.eclipse.m2e.core.prefs
ContributorsCheck/contributors-check/.project
ContributorsCheck/contributors-check/target/*
ContributorsCheck/contributors-check/src/main/resources/auth.properties
/.metadata/
.classpath
.project
.settings
*/target/*
.recommenders
NullCheck/src/main/resources/auth.properties
